<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Македонска берза - техничка анализа</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>

  <style>
    .circle-loader {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
    }

    .loader-container {
      display: none;
    }

    .loader-container.active {
      display: block;
      border: none;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>

</head>
<body>
<header>
  <div>
    <img src="/images/logo.png" width="70px" height="60px">
    <h1>МАКЕДОНСКА БЕРЗА</h1>
  </div>
  <menu>
    <ul>
      <li><a href="/index">Почетна</a></li>
      <li><a href="/tech_analysis">Техничка анализа</a></li>
      <li class="active">
        <a href="/fundamental">Фундаментална анализа</a>
      </li>
      <li><a href="/lstm">LSTM</a></li>
    </ul>
  </menu>
</header>

<section id="tech">
  <center>
    <br>
    <input type="hidden" name="haveError" th:value="${error}!=null ? false : true ">

    <div th:text="${error}!=null ? ${error} : ''" >Greski se prikazuvat ovde</div>
    <div th:text="${analysis_error}!=null ? ${analysis_error} : ''" >Greski se prikazuvat ovde</div>
    <div id="loader-container" class="loader-container" th:classappend="${error != null ? 'active' : ''}">
      <div class="circle-loader"></div>
    </div>

    <form action="/fundamental" method="POST">
      <select name="code" id="stockDropdown">
        <option value="">Одбери акција</option>
        <option  th:each="sifra : ${codes_dropdown}" th:text="${sifra}" th:value="${sifra}"></option>
      </select>

      <input class="button" type="submit" value="превземи">
    </form>
    <br />

  </center>
  <div id="result-container" style="display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;" th:if="${issuer != null}" >
    <h3 th:text="${issuer.getTitle()}"></h3>
    <br>
    <table style="width: 90%; text-align: center;
         border-spacing: 0;overflow: hidden;border-radius: 25px;padding: 0">
      <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Publication Date</th>
      </tr>
      </thead>
      <tbody>
      <!-- Iterate over the RSS items -->
      <tr th:each="rss : ${issuer.rss_items}">
        <td th:text="${rss.title}"></td>
        <td>
          <a th:href="${rss.link}" th:text="${rss.link}" target="_blank"></a>
        </td>
        <td th:text="${rss.pub_date}"></td>
      </tr>
      </tbody>
    </table>
    <br>
    <h2> The result of the processing of these news is <br>
      <span id="res_span" th:text="${issuer.result}"></span> with precision <span th:text="${issuer.score}"></span>
    </h2>
    <br>
  </div>
</section>
<script>
  function setResultColor() {
    let span_element = document.getElementById("res_span");

    if (span_element) {
      let text = span_element.textContent.trim().toLowerCase();

      if (text === "negative") {
        span_element.style.color = "red";
      } else if (text === "positive") {
        span_element.style.color = "green";
      } else {
        span_element.style.color = "black"; // Default color
      }
    }
  }

  setResultColor()

  window.onload = function() {
    // Check if the result-container div is loaded
    let resultContainer = document.getElementById("result-container");
    if (resultContainer) {
      // If the div is loaded, set the height of the section to 'auto'
      let section = document.getElementById("tech");
      if (section) {
        section.style.height = "auto"; // Set height to auto
      }
    }
  }

</script>


</body>
</html>
