<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Македонска берза - LSTM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <img src="/images/logo.png" width="70px" height="60px">
            <h1>МАКЕДОНСКА БЕРЗА</h1>
        </div>
        <menu>
            <ul>
                <li><a href="/index">Почетна</a></li>
                <li><a href="/tech_analysis">Техничка анализа</a></li>
                <li><a href="/fundamental">Фундаментална анализа</a></li>
                <li class="active"><a href="/lstm">LSTM</a></li>
            </ul>
        </menu>
    </header>
    
    <section id="tech">
    </section>
</body>
</html>